<table>
  <thead>
    <tr class="bg-grey">
      <td>
        Specific Site Notes & Information:
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{ inspection.certification_notes }}
      </td>
    </tr>
  </tbody>
</table>

<section class="margin-top certification">
  <h1 class="center bold">
    CERTIFICATION AND COMPLIANCE STATEMENT
  </h1>

  <h2 class="bold">
    Below is the qualified stormwater managers certification certifying that
    the inspection was conducted in accordance with Part 1.D.1-5 of the
    Construction General Permit COR400000.
  </h2>

  <table class='no-border'>
    <tbody>
      <tr class='border-bottom'>
        {{#if inspection.f_certification_date}}
        <td class='center'>{{ users.inspector.first_name }} {{ users.inspector.last_name }}</td>
        <td class='center'>{{ users.inspector.title }}</td>
        <td class='center'>{{ inspection.f_certification_date }}</td>
        {{else}}
        <td colspan="3" />
        {{/if}}
      </tr>
      <tr>
        <td class='center'>(Print Inspector Name)</td>
        <td class='center'>(Title of Inspector)</td>
        <td class='center'>(Date)</td>
      </tr>
    </tbody>
  </table>

  <table class='no-border'>
    <tbody>
      <tr class='border-bottom'>
        <td>Signature: <span class="italic">
            {{#if inspection.f_certification_date}}
            Electronically signed by {{ users.inspector.first_name }}
            {{ users.inspector.last_name }}
            {{/if}}
          </span></td>
      </tr>
      <tr>
        <td class='italic'>"I certify that this report is true, and complete, to the best of my
          knowledge and belief."</td>
      </tr>
    </tbody>
  </table>

  <h2 class="margin-top">
    Compliance Document Signature Requirements:
  </h2>

  <p class="italic bold">
    I verify that, to the best of my knowledge and belief, all corrective
    action and maintenance items identified during the inspection are
    complete, and the site is currently in compliance with the permit.
  </p>


  <table class='no-border'>
    <tbody>
      <tr class='border-bottom'>
        {{#if inspection.f_compliance_date}}
        <td class='center'>{{ users.complianceManager.first_name }} {{ users.complianceManager.last_name }}</td>
        <td class='center'>Electronically signed by {{ users.complianceManager.first_name }}
          {{ users.complianceManager.last_name }}</td>
        <td class='center'>{{ inspection.f_compliance_date }}</td>
        {{else}}
        <td colspan="3" />
        {{/if}}
      </tr>
      <tr>
        <td class='center'>(Print Name)</td>
        <td class='center'>(Signature)</td>
        <td class='center'>(Date)</td>
      </tr>
    </tbody>
  </table>


  <div class='border-bottom col-100'>
    <p class='no-padding'>
      Qualified Stormwater Manager Title or Position:
      <span class='pad-left'>{{ users.complianceManager.title }}</span>
    </p>

  </div>



</section>